cobs/cobs-data
cobs/cobs
cobs/example.cobs_compact

skesa/SKESA

sting/my_dbs
sting/STing

mentalist/*.db*
mentalist/campy_mlst_fasta_files

snapperdb/*.log
snapperdb/*.jar
snapperdb/*.tar
snapperdb/snpdb/
snapperdb/snapperdb/
snapperdb/input/

mash/sketches.msh
mash/mash

bigsi/bigsi-data
bigsi/test-berkeley.db
